POSTGRES_DB=smartbanks_db
POSTGRES_USER=admin_bancs_db
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

DB_APP_USER=svc_banc_user
DB_APP_PASSWORD=change_me

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=smartbanks_db
DB_USER=svc_banc_user
DB_PASSWORD=change_me

RABBITMQ_USER=admin_smrt_rbbt
RABBITMQ_PASSWORD=change_me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_QUEUE_IA=cola_ia

GF_SECURITY_ADMIN_USER= admin_gf_security
GF_SECURITY_ADMIN_PASSWORD=change_me
ANYIO_THREAD_TOKENS=40

DB_MAX_OVERFLOW=0
DB_POOL_MIN_CONN=15
DB_POOL_SIZE=15
DB_POOL_TIMEOUT_S=0.05
UVICORN_WORKERS=5
